*
{
  box-sizing:border-box;
  /*border: solid 1px black;*/
}

body
{
  background-color: #000000;
  font: 0.625em/1em Verdana, Geneva, Arial, Helvetica, sans-serif;
  /*overflow: hidden;*/
}

#board_container
{
  position:relative;
  height:100vh;
  width:100%;

}

.player_container
{
  width:100%;
  height: 30%;
  position:relative;
}

.card_container
{
  width:25%;
  height:100%;
  border-radius: 5px;
  background-color: #D9D3C7;
  border:solid 1px black;
  position:absolute;
}

.ability_container
{
  width:25%;
  height:100%;
  border-radius: 5px;
  background-color: #242D40;
  border:solid 1px black;
  position:absolute;
}

.ship_container
{
  /*background-color: pink;*/
  width:50%;
  height:100%;
  position:absolute;
}

.player_one .card_container
{
  position: absolute;
  left:0px;
}

.player_one .ability_container
{
  position: absolute;
  right:0px;
}

.player_one .ship_container
{
  position: absolute;
  left:25%;
}

.player_two .card_container
{
  position:absolute;
  right:0px;
}

.player_two .ability_container
{
  position: absolute;
  left:0px;
}

.player_two .ship_container
{
  position: absolute;
  left:25%;
}

#middle_container
{
  position:relative;
  width:100%;
  height:40%;
  /*background-color: green;*/
}

#combat_log
{
  position:absolute;
  height:100%;
  width:25%;
  overflow-y:scroll;
  background-color: #fff;
  border-radius: 3px;
  right:0px;
  border:solid 1px black;
}

.health_bar_container
{
  position:relative;
  top:10%;
  left:10px;
  width:80%;
  height:10%;
}

.health_bar
{
  position:absolute;
  width:100%;
  height:100%;
  background-color:red;
  display: inline;
  border-radius: 3px;
}

.health_fill
{
  position:absolute;
  height:100%;
  background-color: green;
  left:0px;
  border-radius: 3px;
}

.energy_bar_container
{
  position:relative;
  top:12%;
  left:10px;
  width:80%;
  height:10%;
}

.energy_bar
{
  position:absolute;
  width:100%;
  height:100%;
  background-color:yellow;
  display: inline;
  border-radius: 3px;
}

.energy_over_fill
{
  position:absolute;
  height:100%;
  background-color: #009;
  left:0px;
  border-radius: 3px;
  z-index:2;
}

.energy_under_fill
{
  position:absolute;
  height:100%;
  background-color: #06f;
  left:0px;
  border-radius: 3px;
  z-index: 1;
}

.weapon_stats_container
{
  position:relative;
  left:10px;
  top:15%;
  width:90%;
  height:56%;
  /*border:solid 1px pink;*/
}

.ability_table
{
  width:100%;
  height:100%;
  border-spacing: 3px;
  border-collapse: separate;
}

.ability_table td
{
  border:solid 2px #6273d9;
  margin:2px;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}

.ability_table td p
{
  font-size:xx-small;
}

.ability_table td:hover
{
  box-shadow: 1px 1px 3px #888888;
  transform:translate(-1px,-1px);
}

.ability_table tr
{
  width:100%;
}

.ability_table input
{
  height:30px;
  width:30px;
}

.not_turn td
{
  border:solid 2px #666;
  background-color: #888;
}

#menu_container
{
  position:relative;
  height:99vh;
  width:99%;
}

.menu_box_outer
{
  left:50%;
  right:50%;
  margin-top: 50px;
  border:solid 5px white;
  border-radius: 5px;
  width:200px;
  height:500px;
  background-color: #fff;
  position:absolute;
  transform: translate(-50%);
}

.menu_box_inner
{
  width:90%;
  height:100%;
  border:solid 1px black;
  margin:auto;
  text-align: center;
}

.menu_box_inner a
{
  margin:5px;
  display: block;
  text-decoration: none;
}

.menu_box_inner a:link
{
  color:#000;
}

.menu_box_inner a:visited
{
  color:#000;
}

.menu_box_inner a:active
{
  color:#000;
}

.menu_box_inner a:hover
{
  color:#03c;
}

.select_ship_wrapper
{
  display:none;
}

.a_ship
{
  box-sizing:border-box;
}

.a_ship:hover
{
  border: solid 1px black;
}

.a_ship p,li,br
{
  display: none;
}

.a_ship ul
{
  list-style-type: none;
  text-align: left;
}

#the_submit_button
{
  display:none;
}

#winner_modal
{
  width:500px;
  height:70%;
  /*background-color: yellow;*/
  position:absolute;
  top:50px;
  left:100px;
  right:100px;
  margin:auto;
  border-radius: 15px;
  display: none;
}

#winner_wrapper
{
  position:absolute;
  height:94%;
  width:94%;
  margin:auto;
  background-color: #6273d9;
  top:3%;
  bottom:3%;
  left:3%;
  right:3%;
  border-radius: 15px;
  text-align: center;
}

#winner_modal a
{
  text-decoration: none;
}

#winner_modal a:link
{
  color:#000;
}

#winner_modal a:visited
{
  color:#000;
}

#winner_modal a:active
{
  color:#000;
}

#winner_modal a:hover
{
  color:#03c;
}

.weapon_stats_container p
{
  display: none;
}

.ammo_container
{
  position:relative;
  width:100%;
  height:30px;
}

.ammo_icon
{
  width:15px;
  height:30px;
}

.no_ammo
{
  background-color:#333 !important;
}

.no_energy
{
  background-color:#006 !important;
}

.ship_wrapper
{
  margin:auto;
  width:50%;
  height:90%;
  background-color: :green;
}

.ship_image
{
  position:absolute;
  height:100%;
  width:50%;
}

.player_one .ship_image
{
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.explosion_wrapper, .heal_wrapper
{
  /*background-color: pink;*/
  position: absolute;
  left:25%;

  width:50%;
  height:100%;
}

.explosion_wrapper table, .heal_wrapper table
{
  text-align: center;
  width: 100%;
  height: 100%;
}

.damage_explosion, .heal_plus
{
  width:50px;
  height:50px;
  display:none;
}