*
{
  box-sizing:border-box;
  /*border: solid 1px black;*/
}

body
{
  background-color: #000000;
}

#board_container
{
  position:relative;
  height:99vh;
  width:99%;
}

.player_container
{
  width:100%;
  height: 29%;
  position:relative;
  margin:3px;
}

.card_container
{
  width:300px;
  height:100%;
  border-radius: 5px;
  background-color: #fff;
}

.ability_container
{
  width:300px;
  height:100%;
  border-radius: 5px;
  background-color: #fff;
}

.player_one .card_container
{
  position: absolute;
  left:0px;
}

.player_one .ability_container
{
  position: absolute;
  right:0px;
}

.player_two .card_container
{
  position:absolute;
  right:0px;
}

.player_two .ability_container
{
  position: absolute;
  left:0px;
}

#combat_log_container
{
  position:relative;
  width:100%;
  margin:3px;
  height:38%;
  background-color: #fff;
  overflow-y:scroll;
  border-radius: 3px;
}

#combat_log
{
}

.health_bar_container
{
  position:relative;
  top:15px;
  left:10px;
  width:80%;
  height:10%;
}

.health_bar
{
  position:absolute;
  width:100%;
  height:100%;
  background-color:red;
  display: inline;
  border-radius: 3px;
}

.health_fill
{
  position:absolute;
  height:100%;
  background-color: green;
  left:0px;
  border-radius: 3px;
}

.percent_10
{
  width:10%;
}
.percent_25
{
  width:10%;
}
.percent_50
{
  width:10%;
}
.percent_75
{
  width:75%;
}
.90_percent
{
  width:10%;
}

.ship_stats_container
{
  position:relative;
  top:15px;
  left:10px;
  width:90%;
  height:80%;
}

.ability_table
{
  width:100%;
  height:100%;
    border-spacing: 3px;
    border-collapse: separate;
}

.ability_table td
{
  border:solid 2px #03c;
  margin:2px;
  text-align: center;
}

.ability_table tr
{
  width:100%;
}

.ability_table img
{
  height:30px;
  width:30px;
}